{% extends 'base.html'%}
{%block content%}

  <!-- <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark" style = "height : 400px;">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Welcome to our site</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div> -->
 
 
  <hr>
  <div class = "container">
      
      <h1 style = "margin : 5px;">알림사항</h1>
      <hr>
  <div class = "background">   
    
    <br>
      
     
  <table class = "table table-hover">
   <thead>
      <tr>
          <th>번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>날짜</th>
          <th>조회수</th>
      </tr>
   </thead>
   <tbody>
      {% for blog in page_blogs %}
     <tr>
        <td id = "blog_id">{{blog.id}}</td>
        <td id = "blog_owner"><a href = "{% url 'detail_blog' blog.id %}">{{blog.title}}</a></td>
        <td id = "blog_title">{{blog.owner}}</td>
        <td id = "blog_date">{{blog.pub_date}}</td>
        <td id = "blog_view">{{blog.views}}</td>
      
     </tr>
     {% endfor %}
     
   </tbody>
  
</table>

<div class = "page">
                  {% if page_blogs.has_previous %}
                      <a href="?page=1">First</a>
                      <a href="?page={{page_blogs.previous_page_number}}">Previous</a>
                  {% endif %}
                      <span>{{page_blogs.number}}</span>
                      <span>of<span>
                      <span>{{page_blogs.paginator.num_pages}}</span>
          
                  {% if page_blogs.has_next %}
                      <a href="?page={{page_blogs.next_page_number}}">Next</a>
                      <a href="?page={{page_blogs.paginator.num_pages}}">Last</a>
                  {% endif %}
                </div>
                <br>
                
                <button style = "margin-top : 13px;"class="createbtn"onclick="location.href='{% url 'new' %}'">글쓰기</button>
        </div>
        <br>
        <br>
        
        
        <br>
  </div>
  <br>
  <hr>
  <!-- <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">오늘의 소식</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">Post title</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class = "container">
<h1 style = "margin : 5px;">소식</h1>
<hr>
<div class = "background">

<p> <a class="btn btn-primary" href="{% url 'upload'%}" method="POST" enctype="multipart/form-data" style = "background-color : orange; border-color : orange">업로드</a> <a class="btn btn-primary" href = "{% url 'postpage' %}" style = "background-color : orange; border-color : orange">더보기</a></p>

  {% for post in page_photo%} <!--imagePost -->
  <div class="panel panel-default" align="center">
    
    <div class="panel-heading" style = "background-color : gray"><h4 ><a style = "color : white;" href = "{% url 'detail_post' post.id %}">{{post.title}}</a></h4></div>
    <div class="panel-body" align = "center">
      <img class="card-img-top" src="{{post.image.url }}" alt=" Card image cap">
      
          <!-- {{post.comment}} -->
      </div>
    </div>
      {% endfor %}
      
</div>
</div>   
</div>

</body>
</html>
{%endblock%}

