{% extends 'accounts_base.html'%}
{%block content%}
<br>
<hr>
<br>
<div class = "container" >
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3" style = "width : 100%">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style = "width : 100%">
      <div class="my-3 py-3">
        <h2 class="display-5">Munhwaparty</h2>
        <p class="lead">test 문구입니다.</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 100%; height: 200px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style = "width : 100%">
      <div class="my-3 p-3">
        <h2 class="display-5">소개영상</h2>
        <p class="lead">test 문구입니다.</p>
        <div><iframe width="100%" height="315" src="https://www.youtube.com/embed/a0Q5R4u-G50?autohide=0&autoplay=1&controls=0&disablekb=1
            &modestbranding=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe></div>
      </div>
      <!-- <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;"></div> -->
    </div>
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"style = "width : 100%">
        <div class="my-3 py-3">
          <h2 class="display-5">미래의 방향성</h2>
          <p class="lead">test 문구입니다.</p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 100%; height: 200px; border-radius: 21px 21px 0 0;"></div>
      </div>
  </div>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
{% endblock %}