{% extends 'accounts_base.html'%}
{%block content%}
<br>
<hr>
<h1 class = "contact" >소식</h1>
<br>
<div class = "container">
<div class = "background">
{% for post in imagePost %}
    <div class="panel panel-default" align="center">
            <div class="panel-heading" style = "background-color : gray"><h4><a style = "color : white;" href = "{% url 'detail_post' post.id %}">{{post.title}}</a></h4></div>
            <div class="panel-body" align = "center">
            <img class="card-img-top" src="{{post.image.url }}" alt=" Card image cap">
            
                <!-- {{post.comment}} -->
              
            </div>
            </div>
            {% endfor %}
        </div>
        </div>
{% endblock %}
