{% extends 'base.html'%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <br>
<h3>아이디: {{name}} 관리자님 환영합니다</h3>
<h3>직업: {{job}}</h3>
<h3>지역: {{location}}</h3>
<hr>
<h2>유저 데이터</h2>
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">유저</th>
        <th scope="col">직업</th>
        <th scope="col">거주지</th>
        <th scope="col">메일</th>
      </tr>
    </thead>
    <tbody>
            {% for data in user_data %}
      <tr>
        <th scope="row">{{data.id}}</th>
        <td>{{data.username}}</td>
        <td>{{data.profile.job}}</td>
        <td>{{data.profile.location}}</td>
        <td>{{data.email}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
</body>
</html>
{%endblock%}