{% extends 'base.html'%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h3>아이디:{{name}} 관리자님 환영합니다</h3>
<h3>직업: {{job}}</h3>
<h3>지역: {{location}}</h3>
<hr>
<h2>유저 데이터</h2>
{% for data in user_data %}
<tr class="free-board-post">
    <td class="post-num">{{data.id}}유저:{{data.username}}</td>
    <td class="post-title">직업:{{data.profile.job}}</td>
    <td class="post-writer">거주지:{{data.profile.location}}</td>
    <td class="post-writer">메일:{{data.email}}</td>
    <br>
</tr>
{% endfor %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
{%endblock%}