{% extends 'accounts_base.html' %}
{% block content %}


<br>
<body class="text-center">
<form name = Join method="POST" action="{% url 'assign' %}" onSubmit="return CheckForm(this)">
  {% csrf_token %}
  <div style = "text-align: center">
    <br>
    <hr>
    <h1>회원가입</h1>
    
  </div>
  <br>
  <div class="progress" style = "margin-bottom : 0px; height : 15px;">
    <div class="progress-bar" role="progressbar" style="width: 33%;  background-color : orange;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <table width=960px; style = "margin-left : 50px;font-size : 15px;" >
      <thead > 
        <tr>
          <th></th>
          <th style = "text-align : center">이용약관</th>
          <th style = "text-align : center">정보가입</th>
          <th style = "text-align : center">가입완료</th>
         </tr>
      </thead>
      
    </table>
    <br>
  <table width=960px; text-align=center>
    <tr>
        <td align=center>
            
            <!--이용약관 테이블 시작-->
            <table width=810>
              <tr>
                <td>
                  <div>
                   <font color="orange" size=4>01</font> <font size=3>이용약관</font>
                   
                  </div>
               </td>
             </tr>
             
             <tr>
                <td align=center>
                  <br>
                  <textarea name="tos" rows=15 cols=100>
TEST 문구입니다.
                   </textarea>
                 </td>
               </tr>
               <tr>
                 <td>
                   <br>
                   <input type="checkbox" id = "agree_a" name="agree_a"> 이용약관에 동의합니다.<br><br><br><br>
                 </td>
               </tr>
  
  <tr>
      <td>
        <div>
         <font color="orange" size=4>02</font> <font size=3>개인정보 수집 및 이용에 대한 안내</font>
        </div>
     </td>
   </tr>
   <tr>
     <td align=center>
       <br>
       <textarea name="tos" rows=15 cols=100>
TEST 문구입니다. 
  
        </textarea>
      </td>
    </tr>
    <tr>
      <td>
        <br>
        <input type="checkbox" id = "agree_b" name= 'agree_b'> 개인정보 수집 및 이용에 대한 안내에 동의합니다.
      </td>
    </tr>
  </table>
  <br>

  <input type = "submit" value = "다 음"class="btn_order" style="margin:10px; color : black;" >
</form>
 
<a href="/"> <button type = "button"  class="btn_cancel1" style="margin:10px;color : black;" >취 소</button></a>

<script>
 
    function CheckForm(Join){ 
      var msg = "약관에 동의해주십시오"
      
      var chk1 = document.Join.agree_a.checked;
      var chk2 = document.Join.agree_b.checked;

      if(chk1 == ""){
        alert("약관에 동의해주세요");
        return false;
      }
      if(chk2 == ""){
        alert("약관에 동의해주세요");
        return false;
      }
     
    }

  </script>
</body>
{% endblock %}