{% extends 'accounts_base.html' %}
{% block content %}
<hr>
  <body class="text-center">
  
      <br>
        <div class="progress" style = "margin-bottom : 0px; height : 15px;">
          <div class="progress-bar" role="progressbar" style=" width: 66%; background-color : orange;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
  
        <table width=90%; style =  " margin-left : 15px;font-size : 15px;" >
          <thead > 
            <tr>
              <th></th>
              <th style = "text-align : center">이용약관</th>
              <th style = "text-align : center">정보기입</th>
              <th style = "text-align : center">가입완료</th>
             </tr>
          </thead>
          
        </table>
               
        <br>
  
    <form class="signup-form" method='POST' action="{% url 'signup' %}">
      {% csrf_token %}
    <h3 class="mb-3"><strong>회원가입</strong></h3>
    <div class="mb-3">
      <label for="username">UserID</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">ID</span>
        </div>
        <input type="text" class="form-control" id="username" placeholder="Username" required name="username"> <button id = "checkid"  style="display:inline; border-radius: 5px;background-color : orange;color:white">중복확인</button><br>
        <div class="invalid-feedback" style="width: 100%;">
          Your userID is required.
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="email">Email <span class="text-muted">(필수)</span></label>
      <input type="email" class="form-control" id="email" placeholder="you@example.com"required name="email">
      <div class="invalid-feedback">
        Please enter a valid email address for shipping updates.
      </div>
    </div>
    <div class="mb-3">
      <label for="address">비밀번호</label>
      <input type="password" class="form-control" id="address" placeholder="password" required name="password">
      <div class="invalid-feedback">
        Please enter your shipping address.
      </div>
    </div>
    <div class="mb-3">
      <label for="address">비밀번호 확인</label>
      <input type="password" class="form-control" id="address" placeholder="password" required name="password_confirm">
      <div class="invalid-feedback">
        Please enter your shipping address.
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 mb-3">
        <label for="country">Job</label>
        <select class="custom-select d-block w-100" id="job" required name="job">
          <option value="">Choose...</option>
          <option>대학생</option>
          <option>회사원</option>
          <option>의사</option>
        </select>
        <div class="invalid-feedback">
          Please select a valid country.
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="state">지역</label>
        <select class="custom-select d-block w-100" id="location" required name="location">
          <option value="">Choose...</option>
          <option>부산</option>
          <option>경기도</option>
          <option>서울</option>
        </select>
        <div class="invalid-feedback">
          Please provide a valid state.
        </div>
      </div>
      <div class="mb-3">
        <label for="choose_people">추천인</label>
        <input type="text" class="form-control" id="choose_people" placeholder="ex) 김정훈" required name="choose_people">
        <div class="invalid-feedback">
          Please enter your shipping choose_people.
        </div>
      </div>

      <hr>
    </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" value="Sign Up"  style=" background-color : orange; width:150px;border:orange ">Sign Up</button>
    </form>
  </body>





<!--  -->
<div class="line"></div>

    <script>
      $(function(){
       
        $('#checkid').click(function(){
          var username = $('#username').val();
          if(username==''){
            alert('아이디를 입력해주세요.');
            return;
          }
          $.ajax({
            url:'signup/checkid?username='+username,
            type:'get',
            dataType: 'json',
            success:function(response){
              if(response.result != 'success'){
                alert('존재dks하는 아이디입니다.')
                console.error(response.data)
                return;
              }
              if(response.data == 'exist'){
                alert('존재하는 아이디입니다.')
                $('#username').val('').focus();
                return;
              } else {
                $('#checkid').hide();
                return;
              }
            },
            error : function(xhr, error){
              alert('서버와의 통신에 문제가 발생했습니다.')
              console.log('error : '+ error);
            }
          })
        })
      });
    </script>
{% endblock %}