{% extends 'accounts_base.html' %}
{% block content %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="signup-form" method='POST' action="{% url 'signup' %}">
      {% csrf_token %}
    

      <br>
        <div class="progress" style = "margin-bottom : 0px;">
          <div class="progress-bar" role="progressbar" style=" width: 66%; background-color : orange;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
  
        <table width=960px; >
          <thead > 
            <tr>
              <th></th>
              <th style = "text-align : center">이용약관</th>
              <th style = "text-align : center">정보기입</th>
              <th style = "text-align : center">가입완료</th>
             </tr>
          </thead>
          
        </table>
               
        <br>
      <center>
       <div style="width:500px; background-color:rgba(240, 240, 240, 0.29)">
      <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1><br>
      <label for="inputEmail" class="sr-only">user id</label>
      &emsp; &emsp; &emsp;&emsp; &nbsp;<input type="text"  id="username" required name="username" class="form-control" placeholder="User Id" style="width:250px; display:inline;"> <button id = "checkid"  style="display:inline; border-radius: 5px;background-color : orange;color:white">중복확인</button><br>
      <br>
      <label for="inputPassword" class="sr-only">job</label>
      <input type="text" id="job" required name="job" class="form-control" placeholder="Job" style="width:250px"><br>
      <label for="inputPassword" class="sr-only">location</label>
      <input type="text"  id="location" required name="location" class="form-control" placeholder="Location you live" style="width:250px"><br>
      <label for="inputPassword" class="sr-only">Email</label>
      <input type="email"  id="email" required name="email" class="form-control" placeholder="Email" style="width:250px"><br>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="password" class="form-control" name="password" placeholder="password" required style="width:250px"><br>
      <label for="inputPassword" class="sr-only">Password Confirm</label>
      <input type="password" id="confirm" class="form-control" name="password_confirm" placeholder="password confirm" required style="width:250px"><br>
      </div>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit" value="Sign Up"  style=" background-color : orange; width:150px;border:orange ">Sign Up</button>
    
    </center>
      <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>



  </body>
</html>




<!--  -->
<div class="line"></div>

    <script>
      $(function(){
        $('#checkid').click(function(){
          var username = $('#username').val();
          if(username==''){
            alert('아이디를 입력해주세요.');
            return;
          }
          $.ajax({
            url:'checkid?username='+username,
            type:'get',
            dataType: 'json',
            success:function(response){
              if(response.result != 'success'){
                console.error(response.data)
                return;
              }
              if(response.data == 'exist'){
                alert('존재하는 아이디입니다.')
                $('#username').val('').focus();
                return;
              } else {
                $('#checkid').hide();
                return;
              }
            },
            error : function(xhr, error){
              alert('서버와의 통신에 문제가 발생했습니다.')
              console.log('error : '+ error);
            }
          })
        })
      });
    </script>
{% endblock %}