{% extends 'accounts_base.html' %}
{% block content %}
<div class="line"></div>
<form class="signup-form" method='POST' action="{% url 'signup' %}">
        {% csrf_token %}
        <div style = "text-align: center">
          <br>
          <h1>회원가입</h1>
        </div>
        <br>
        <div class="progress" style = "margin-bottom : 0px;">
          <div class="progress-bar" role="progressbar" style=" width: 66%; background-color : orange;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
  
        <table width=960px; >
          <thead > 
            <tr>
              <th></th>
              <th style = "text-align : center">이용약관</th>
              <th style = "text-align : center">정보기입</th>
              <th style = "text-align : center">가입완료</th>
             </tr>
          </thead>
          
        </table>
        <br>
     

        <div class="signupform-group">
        <label for="name">ID</label>
        <input type="text" placeholder=" " id="username" required name="username" class="signupform-group-input"><button id = "checkid">중복확인</button>
        <div class="error">
          <i class="fas fa-exclamation-circle"></i>
          Error encountered!
        </div>
      </div>
      
      
      <div class="signupform-group">
        <label for="job">직업</label>
        <input type="text" placeholder=" hey" id="job" required name="job">
      
      </div>
      
      <div class="signupform-group">
        <label for="location">지역</label>
        <input type="text" placeholder=" hey" id="location" required name="location">
      
      </div>


      
      <div class="signupform-group">
        <label for="email">Email</label>
        <input type="email" placeholder=" " id="email" required name="email">
        <div class="error">
          <i class="fas fa-exclamation-circle"></i>
        </div>
      </div>
      
      <div class="signupform-group">
        <label for="password">Password</label>
        <input type="password" placeholder=" " id="password" required name="password">
        <div class="error">
          <i class="fas fa-exclamation-circle"></i>
        </div>
      </div>
     
      <div class="signupform-group">
        <label for="confirm">Confirm</label>
        <input type="password" placeholder=" " id="confirm" required name="password_confirm">
        <div class="error">
          <i class="fas fa-exclamation-circle"></i>
        </div>
      </div>
      <input type="submit" value="Sign Up" class="sign-input">
      <div class="form-bottom">
        <a href="#">Forgot Password?</a>
      </div>
    </form>
    <script>
      $(function(){
        $('#checkid').click(function(){
          var username = $('#username').val();
          if(username==''){
            alert('아이디를 입력해주세요.');
            return;
          }
          $.ajax({
            url:'checkid?username='+username,
            type:'get',
            dataType: 'json',
            success:function(response){
              if(response.result != 'success'){
                console.error(response.data)
                return;
              }
              if(response.data == 'exist'){
                alert('존재하는 아이디입니다.')
                $('#username').val('').focus();
                return;
              } else {
                $('#checkid').hide();
                return;
              }
            },
            error : function(xhr, error){
              alert('서버와의 통신에 문제가 발생했습니다.')
              console.log('error : '+ error);
            }
          })
        })
      });
    </script>
{% endblock %}