{% extends 'base2.html' %}
{% block content %}
<div class="temp">
    <p class="slogan">서로의 지식을 연결하다</p>
    <p class="slogan-name">링크모아</p> 
</div>

<div class="board">
    <div class="lower-part">
        <div class="line"></div>
        <div class="board-container">
            <form method ="POST" action="{% url 'edit' editpost.id %}">
                {% csrf_token %}
                <h4>제목: </h4>
                <input type="text" name="title" id="editTitle" value="{{editpost.title}}">
                <br>
                <br>
                <h4>본문: </h4>
                <textarea cols=40 rows=10 name="body">{{editpost.body}}</textarea>
                <br>
                <br>
                <input class="btn btn-dark" type="submit" value="수정">
            </form>
        </div>
    </div>
</div>

<footer class="footer">
        <h2 class="footer-title">LIKE LION</h2>
        <h5>khjvvv7@gmail.com</h5>
</footer>
<script type="text/javascript">
</script>
{% endblock %}