{% extends 'base.html' %}
{% block content %}
<div class="board">
    <div class="lower-part">
        
        
        <div class="free-board-wrap">
            <div class='search-state' style= "text-align: center;" >
                {% if request.path == '/freeboard/sort' %}
                    <h4>*상태 : 조회순 정렬</h4>
                {% endif %}
            </div>
        <div class="free-board-container">
            <div class="board-header">
                {% if request.path == '/freeboard' %}
                    <button class="createbtn"onclick="location.href='{% url 'sort_freeboard' %}'">조회순</button>
                {% elif request.path == '/freeboard/sort' %}
                    <button class="createbtn"onclick="location.href='{% url 'freeboard' %}'">원래대로</button>
                {% endif %}
                {% if err == 0 %}
                <button class="createbtn"onclick="location.href='{% url 'newpost' %}'">글쓰기</button>
                {% endif %}
            </div>
            <div class="line"></div>
            <table class = "table table-hover">
                <thead>
                   <tr>
                       <th>번호</th>
                       <th>제목</th>
                       <th>작성자</th>
                       <th>조회수</th>
                   </tr>
                </thead>
                <tbody>
                    
            <!-- <div class="board-contents">
                <table>
                <tr>
                <th class="post-num">글번호</th>
                <th class="post-title">&nbsp;&nbsp;&nbsp;&nbsp;제목</th>
                <th class="post-writer">작성자</th>
                <th class="post-views">조회수</th>
                </tr> -->
                {% for post in page_posts %}
                <tr class="free-board-post">
                    <td class="post-num">{{post.id}}</td>
                    <td class="post-title"><a href="{% url 'detail' post.id %}">{{post.title}}</a></td>
                    <td class="post-writer">{{post.owner}}</td>
                    <td class="post-views">{{post.views}}</td>
                </tr>
                {% endfor %}
                </table>
            </div>
            <div class="freeboard-search" style = "text-align: center">
                <form method="POST" action="{% url 'freeboardSearch' %}">
                    {% csrf_token %}
                    <select id="" name='condition'>
                        <option class="titlesearch" value="titlesearch">글제목</option>
                        <option class="bodysearch" value="bodysearch">내용</option>
                        <option class="ownersearch" value="ownersearch">작성자</option>
                    </select>
                    <input type="text" class="freeboard-searchbox" name='input'><button class="freeboard-btn">검색</button>
                </form>
            </div>
            <div class="paginator" style = "text-align: center">
                {% if page_posts.has_previous %}
                    <a href="?page=1">First</a>
                    <a href="?page={{page_posts.previous_page_number}}">Previous</a>
                {% endif %}
                    <span>{{page_posts.number}}</span>
                    <span>of<span>
                    <span>{{page_posts.paginator.num_pages}}</span>
        
                {% if page_posts.has_next %}
                    <a href="?page={{page_posts.next_page_number}}">Next</a>
                    <a href="?page={{page_posts.paginator.num_pages}}">Last</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>

<footer class="footer">
        <h2 class="footer-title">made</h2>
        <h5>sehoon, hoseol</h5>
</footer>
{% endblock %}