{% extends 'base.html' %}
{% block content %}

<div class="board">
    <div class="lower-part">
        <div class="line"></div>
        <br>
        <br>
        <div class="board-container">
            <form method ="POST" action="{% url 'createpost' %}">
                {% csrf_token %}
                
                <p><h4>제목: </h4> <input id = "newpost_title" type="text" name="title"></p>
                <br>
                
                <h4>본문: </h4>
                <textarea id = "newpost_body" cols=120 rows=10 name="body"></textarea>
                <br>
                <br>
                <input style = " text-align: right;" class="btn btn-dark" type="submit" value="제출">
            </form>
        </div>
    </div>
</div>

<footer class="footer">
        
</footer>
{% endblock %}