.page{
  text-align: center;
}


.padding{
    padding-top: 5px;
  }
  
 
  
  .logo {
    width: 15%;
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    text-align: left;
    padding-left: 2%;
  }
  
  .menu-area li {
    display: inline-block;
  }
  
  .menu-area a {
    color: #F89B6C;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 0 25px;
    font-size: 22px;
    line-height: 50px;
    position: relative;
    z-index: 1;
  }
  .menu-area a:hover {
    background: #F37321;
    color: #fff;
  }
  
  .menu-area a:hover:after {
    transform: translateY(-50%) rotate(-35deg);
  }
  
 
  .panel  {
    position : relative;
    display : inline-table;
    width : 33%;
    height : 300px;
    margin-right : 4px;
    border : 2px solid gray;
    padding : none;
    margin : 0px 0px 5px 0px;
    padding : none;
  }

  .panel:hover{
    border-color : orange;
    border-width: 3px;
  }

  .panel-body{
    width : 90%;
    height : 270px;
    padding-top : 5px;
    
  }

  .panel-heading{
    background-color : gray;
    width : 100%;
    margin : none;
  }
  .panel-heading a{
    color : white;
  }
   
  .panel-body img{
    width : 80%;
    height : 80%;
    
  }

  .card-img-top{
    height : 120px;
  }

  .introduce{
    background-color : #FAFAFA;
    display: grid;
    grid-template-columns: 550px 480px;
    grid-template-rows: 300px ;
    
    padding : none;
    width : 100%;
   
  }

  .introduce img{
    margin-left : 100px;
    margin-top : 50px;
  }

  .main-introduce{
    color : white;
    display: grid;
    font-size : 30px;
    grid-template-columns: 550px 560px;
    grid-template-rows: 300px 300px;
  }

  #div1{
    background-color : #32332F;
    padding : 10px;
  }

  #div2{
    background-color : #FAFAFA;
  }

  #div3{
    background-color : #FAFAFA;
  }

  #div4{
    background-color : #32332F;
  }

  .table{
    font-size : 12px;
    background-color : #FAFAFA;
  }

  .container h3{
    
    font-weight: 300;
  }

  .background{
    background-color: #FAFAFA;
    padding : 6px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 0 rgba(15, 19, 32, 0.8);
  }

  .background p{
    margin : 4px;
  }

  footer{
    text-align : center;
    font-size : 20px;
  }


  /* contact.html */
  .contact{
    text-align: center;
  }
  
  .contact_img{
    margin : 40px 0px 40px 0px;
    text-align: center;
  }
  .contact_a{
    text-align: center;
  }

  /* banner */
  #carouselExampleIndicators{
    width : 60%;
    height : auto;
  }
  .bg-light ,.bg-dark {
    margin-bottom : 10px;
  }

  /* signup */
 