.page{
  text-align: center;
}


.padding{
    padding-top: 5px;
  }
  
 
  
  .logo {
    width: 15%;
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    text-align: left;
    padding-left: 2%;
  }
  
  .menu-area li {
    display: inline-block;
  }
  
  .menu-area a {
    color: #F89B6C;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 0 25px;
    font-size: 22px;
    line-height: 50px;
    position: relative;
    z-index: 1;
  }
  .menu-area a:hover {
    background: #F37321;
    color: #fff;
  }
  
  .menu-area a:hover:after {
    transform: translateY(-50%) rotate(-35deg);
  }
  
 
  .panel  {
    position : relative;
    display : inline-table;
    width : 350px;
    height : 300px;
    margin-right : 4px;
  }

  .panel:hover{
    border-color : orange;
    border-width: 3px;
  }

  .panel-body{
    width : 340px;
    height : 270px;
    padding-top : 5px;
  }
   
  .panel-body img{
    width : 300px;
    height : 200px;
    
  }

  .card-img-top{
    height : 120px;
  }

  .introduce{
    background-color : #FAFAFA;
    display: grid;
    grid-template-columns: 550px 480px;
    grid-template-rows: 300px ;
    
    padding : none;
    width : 100%;
   
  }

  .introduce img{
    margin-left : 100px;
    margin-top : 50px;
  }

  .main-introduce{
    color : white;
    display: grid;
    font-size : 30px;
    grid-template-columns: 550px 560px;
    grid-template-rows: 300px 300px;
  }

  #div1{
    background-color : #32332F;
    padding : 10px;
  }

  #div2{
    background-color : #FAFAFA;
  }

  #div3{
    background-color : #FAFAFA;
  }

  #div4{
    background-color : #32332F;
  }

  .table{
    font-size : 12px;
    background-color : #FAFAFA;
  }

  .container h3{
    
    font-weight: 300;
  }

  .background{
    background-color: #FAFAFA;
    padding : 6px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 0 rgba(15, 19, 32, 0.8);
  }

  .background p{
    margin : 4px;
  }

  footer{
    text-align : center;
    font-size : 20px;
  }