.upload{
   margin : 10px;
   font-size : 15px;
}
.post_detail_img{
    width:100%; height:auto;
}

.wrap{
    width:90%; text-align:center; margin:0px auto;
    height : auto;
}
.post_detail{
    border : 3px solid gray;
    padding : 10px;
    width : 100%;
    height : auto;
}


#id_title {
    width : 200px;
    margin-left : 38px;    
}

#id_comment{
    width : 920px;
    
}